@model IEnumerable<FilmAssembly.Models.Media>

@{
    ViewData["Title"] = "FilmAssembly";
}

<h1>FilmAssembly</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="poster" src="@item.Poster" height=200 width=150 alt=""/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                <a asp-action="Edit" asp-route-mediaId="@item.MediaId">Edit</a> |
                <a asp-action="Details" asp-route-mediaId="@item.MediaId">Details</a> |
                <a asp-action="Delete" asp-route-mediaId="@item.MediaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
